<!DOCTYPE html>
<html>
  <head>
    <title>MadLibs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>@Model.Character takes a trip</h1>
    <p>Once upon a time, @Model.Character lived in an old and smelly @Model.TypeOfPlace. They wanted to go somewhere exciting, so they planned a trip to @Model.Destination.</p>
    <p>But then, @Model.AProblem. @Model.Character was very @Model.Adjective1 and @Model.Adjective2. They had to do something! So they @Model.ActivityOrAction. After they did this, @Model.SituationalOutcome.</p>
    <p>And @Model.Character lived happily ever after.</p>
  </body>
</html>